[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "==5.15.2"
pyyaml = "*"
pydantic = "*"
youtube-dl = "*"
pafy = {path = "./aditionalPackages/pafy-0.5.6-py2.py3-none-any.whl"}

[dev-packages]
pylint = "*"
pytest = "*"

[scripts]
app = "python app.py"

[requires]
python_version = "3.9"
